@font-face {
    font-family: Poppins-Light;
    src: url("Poppins-Light.ttf") format("opentype");
}

@font-face {
    font-family: Poppins-Bold;
    font-weight: bold;
    src: url("Poppins-Bold.ttf") format("opentype");
}